/* src/styles/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.css";
@import "./reset.css";
@import "./gradients.css";
@import "./buttons.css";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
}
