/* src/styles/swiper.css */
/* src/styles/swiper.css */

.brand-slider .swiper-button-next,
.brand-slider .swiper-button-prev {
  color: #4b5563;
  background: rgba(255, 255, 255, 0.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-slider .swiper-button-next:after,
.brand-slider .swiper-button-prev:after {
  font-size: 18px;
}

.brand-slider .swiper-slide {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .brand-slider .swiper-button-next,
  .brand-slider .swiper-button-prev {
    display: none;
  }
}

/* Brand slider styles */
.brand-slider .swiper-button-next,
.brand-slider .swiper-button-prev {
  color: #4b5563;
  background: rgba(255, 255, 255, 0.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-slider .swiper-button-next:after,
.brand-slider .swiper-button-prev:after {
  font-size: 18px;
}

.brand-slider .swiper-slide {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Product categories slider styles */
.product-slider .swiper-button-next,
.product-slider .swiper-button-prev {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-slider .swiper-button-next:after,
.product-slider .swiper-button-prev:after {
  font-size: 18px;
}

.product-slider .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.6;
}

.product-slider .swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}

.product-slider .swiper-slide {
  height: auto;
}

.aspect-square {
  position: relative;
  padding-bottom: 100%; /* 1:1 Aspect Ratio */
}

.aspect-square > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (max-width: 768px) {
  .brand-slider .swiper-button-next,
  .brand-slider .swiper-button-prev,
  .product-slider .swiper-button-next,
  .product-slider .swiper-button-prev {
    display: none;
  }
}
